WekaAxis2Service/xml-resources/axis2/META-INF/WekaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://webservice/weka/datamaining/ftj/agh/edu/pl/" xmlns:ns1="http://webservice/weka/datamaining/ftj/agh/edu/pl/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://algorithm.weka.datamaining.ftj.agh.edu.pl/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice/weka/datamaining/ftj/agh/edu/pl/">
    <wsdl:types>
        <xs:schema xmlns:ax21="http://algorithm.weka.datamaining.ftj.agh.edu.pl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://algorithm.weka.datamaining.ftj.agh.edu.pl/xsd">
            <xs:complexType name="WekaAnswer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://webservice/weka/datamaining/ftj/agh/edu/pl/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice/weka/datamaining/ftj/agh/edu/pl/xsd">
            <xs:element name="runAlgorithmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setAlgorithm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="algorithmType" type="xs:int"/>
                        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setAlgorithmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAlgorithmsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns0:WekaAnswer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDataRequest"/>
    <wsdl:message name="getDataResponse">
        <wsdl:part name="parameters" element="ns1:getDataResponse"/>
    </wsdl:message>
    <wsdl:message name="getAlgorithmsRequest"/>
    <wsdl:message name="getAlgorithmsResponse">
        <wsdl:part name="parameters" element="ns1:getAlgorithmsResponse"/>
    </wsdl:message>
    <wsdl:message name="setAlgorithmRequest">
        <wsdl:part name="parameters" element="ns1:setAlgorithm"/>
    </wsdl:message>
    <wsdl:message name="setAlgorithmResponse">
        <wsdl:part name="parameters" element="ns1:setAlgorithmResponse"/>
    </wsdl:message>
    <wsdl:message name="runAlgorithmRequest"/>
    <wsdl:message name="runAlgorithmResponse">
        <wsdl:part name="parameters" element="ns1:runAlgorithmResponse"/>
    </wsdl:message>
    <wsdl:portType name="WekaServicePortType">
        <wsdl:operation name="getData">
            <wsdl:input message="axis2:getDataRequest" wsaw:Action="urn:getData"/>
            <wsdl:output message="axis2:getDataResponse" wsaw:Action="urn:getDataResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAlgorithms">
            <wsdl:input message="axis2:getAlgorithmsRequest" wsaw:Action="urn:getAlgorithms"/>
            <wsdl:output message="axis2:getAlgorithmsResponse" wsaw:Action="urn:getAlgorithmsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setAlgorithm">
            <wsdl:input message="axis2:setAlgorithmRequest" wsaw:Action="urn:setAlgorithm"/>
            <wsdl:output message="axis2:setAlgorithmResponse" wsaw:Action="urn:setAlgorithmResponse"/>
        </wsdl:operation>
        <wsdl:operation name="runAlgorithm">
            <wsdl:input message="axis2:runAlgorithmRequest" wsaw:Action="urn:runAlgorithm"/>
            <wsdl:output message="axis2:runAlgorithmResponse" wsaw:Action="urn:runAlgorithmResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WekaServiceSOAP11Binding" type="axis2:WekaServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getData">
            <soap:operation soapAction="urn:getData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAlgorithms">
            <soap:operation soapAction="urn:getAlgorithms" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setAlgorithm">
            <soap:operation soapAction="urn:setAlgorithm" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="runAlgorithm">
            <soap:operation soapAction="urn:runAlgorithm" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WekaServiceSOAP12Binding" type="axis2:WekaServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getData">
            <soap12:operation soapAction="urn:getData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAlgorithms">
            <soap12:operation soapAction="urn:getAlgorithms" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setAlgorithm">
            <soap12:operation soapAction="urn:setAlgorithm" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="runAlgorithm">
            <soap12:operation soapAction="urn:runAlgorithm" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WekaServiceHttpBinding" type="axis2:WekaServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getData">
            <http:operation location="WekaService/getData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getData"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getData"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAlgorithms">
            <http:operation location="WekaService/getAlgorithms"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAlgorithms"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAlgorithms"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setAlgorithm">
            <http:operation location="WekaService/setAlgorithm"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setAlgorithm"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="setAlgorithm"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="runAlgorithm">
            <http:operation location="WekaService/runAlgorithm"/>
            <wsdl:input>
                <mime:content type="text/xml" part="runAlgorithm"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="runAlgorithm"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WekaService">
        <wsdl:port name="WekaServiceSOAP11port_http" binding="axis2:WekaServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/WekaService"/>
        </wsdl:port>
        <wsdl:port name="WekaServiceSOAP12port_http" binding="axis2:WekaServiceSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/WekaService"/>
        </wsdl:port>
        <wsdl:port name="WekaServiceHttpport" binding="axis2:WekaServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/WekaService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
